# web framework
streamlit>=1.40.0
altair
pandas

# pdf parsing
PyMuPDF
easyocr
pdf2image
Pillow
numpy

# chromadb
chromadb>=0.6.0
sentence-transformers>=3.0.0

# llm providers
google-genai
anthropic>=0.28.0
openai
requests

# env management
python-dotenv
markdown-pdf
python-docx
odfpy
gunicorn

# scraper, db & auth
beautifulsoup4
lxml
playwright
bcrypt
sqlalchemy
flask
flask-cors
